/* Style chung danh cho thiet ke form  */

form {
    margin: 10px;
    padding: 10px 3cqh;
    border: 1px solid #ccc;
    vertical-align: baseline;
    width: fit-content;
    box-shadow: inset 0 0 10px #ccc;
}

label{
    margin: 5px;
    padding: 5px;
    font-size: 1.1rem;
    width: 200px;
    display: inline-block;
}

input, select{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 1.1rem;
    color: darkviolet;
}

input[type="radio"],
input[type="checkbox"]{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    font-size: 1.1rem;
    display: inline-block;
}

button,
input[type="submit"],
input[type="reset"]{
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    font-size: 1.1rem;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    color: floralwhite;
}
button[type="submit"],
input[type="submit"]{
    background-color: deeppink;
}
button[type="button"],
button[type="reset"],
input[type="reset"]{
    background-color: darkgreen;
    
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: #ccc;
    color: darkviolet;
}

