/* khai bao style css dung chung cho tat ca cac trang trong web site */

/* universal selector */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    color: green;
}

h2, h3{
    color: red;
}

h4{
    color: blue;
    font-style: italic;
}